#game {
    z-index: 10;
}

#vueJeu {
    max-height: 100vh;
}

#contentViewGame {
	z-index: 15;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.lanceGame {
	width: 120px;
	height: 40px;
	border-radius: 5px;
	border: 2px solid var(--main-color);
	box-shadow: 4px 4px var(--main-color);
	font-size: 17px;
	font-weight: 600;
	color: var(--font-color);
	cursor: pointer;

    position: fixed;
    bottom: 10vh;
	left: 50%;
    transform: translateX(-50%);
}

.lanceGame:active {
    box-shadow: 0px 0px var(--main-color); /* On retire l'ombre */
    transform: translate(calc(-50% + 3px), 3px);       /* On le descend de 4px (ombre) en gardant le centrage */
}

.life img {
	width: 50px;
	margin: 5px;
}

.life {
	min-width: 200px;
	margin: 20px;
	height: 25px;

	position: fixed;
	top: 10px;
	right: 10px;
}

.score {
	min-width: 200px;
	margin: 20px;
	height: 25px;

	position: fixed;
	top: 10px;
	left: 10px;
}

