* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'futur';
	src: url(/public/font/Universa-DEMO.otf);
}

main {
	background-color: black;
}

.view {
	min-width: 100vw;
	min-height: 100vh;
	margin: 0;
	overflow: hidden;
	color: white;
	display: none;
	position: fixed;
	z-index: 10;
}

.active {
	display: block !important;
}

canvas {
	width: 100vw;
	height: 100vh;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
}

#bgCanva {
	z-index: 1;
}

.button-confirm:active,
.btnStyleAcceuil:active,
.btnStyleDiffM:active,
.btnStyleDiffF:active,
.btnStyleDiffD:active,
.btnStyleChoixJeu:active   {
	box-shadow: 0px 0px var(--main-color);
	transform: translate(3px, 3px);
}

.futur {
	font-family: 'futur';
}